<main class="questionaris">
  <section class="section-profile-cover zIndex0 section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
    <section id="informationDivQuestionaris" class="section align-center section-lg row d-flex justify-content-center">
      <div class="bg-success shadow-sm rounded p-sm w-75 mt-5">
        <h2>Qüestionari d'interessos</h2>
        <h4>Omple  el següent formulari per tindre una experiència personalitzada dins de la nostra plataforma.</h4>
      </div>
    </section>
  </section>
  <section class="row mtMinus100 d-flex justify-content-center">
    <div class="card w-75 bg-light mb-5" *ngFor="let cat of categories">
      <div class="text-center"><img class="" src="{{cat.imgUrl}}"><span class="hoverImgText">{{cat.name}}</span></div>
      <div class="text-center mt-3">
        <div class="custom-control d-inline-block mr-5 custom-checkbox mb-3" *ngFor="let subcat of cat.subcategories">
          <input class="custom-control-input" id="{{subcat.value}}" name="{{cat.Name}}Categories" value="{{subcat.value}}" type="checkbox">
          <label for="{{subcat.value}}" class="custom-control-label"><span>{{subcat.name}}</span></label>
        </div>
      </div>
    </div>
  </section>
  <section class="row d-flex text-center justify-content-center">
    <div class="card w-75 bg-light mb-5">
      <h3>Estàs interessat en activitats grupals?</h3>
      <div class="custom-control custom-checkbox mb-3">
        <div class="d-inline-block mr-5">
          <input class="custom-control-input" id="groupsYes" name="groupActivities" value="true" type="checkbox">
          <label for="groupsYes" class="custom-control-label" for="groupsYes"><span>Si</span></label>
        </div>
        <div class="d-inline-block mr-5">
          <input class="custom-control-input" id="groupsNo" name="groupActivities" value="false" type="checkbox">
          <label for="groupsNo" class="custom-control-label"><span>No</span></label>
        </div>
      </div>
    </div>
  </section>
  <section class="row d-flex text-center justify-content-center">
    <div class="card w-75 bg-light mb-5">
      <h3>Estàs interessat en activitats amb riscos? </h3>
      <div class="custom-control custom-checkbox mb-3">
        <div class="d-inline-block mr-5">
          <input class="custom-control-input" id="risksYes" name="groupActivities" value="true" type="checkbox">
          <label for="risksYes" class="custom-control-label" for="risksYes"><span>Si</span></label>
        </div>
        <div class="d-inline-block mr-5">
          <input class="custom-control-input" id="risksNo" name="groupActivities" value="false" type="checkbox">
          <label for="risksNo" class="custom-control-label"><span>No</span></label>
        </div>
      </div>
    </div>
  </section>
  <section class="row d-flex justify-content-center">
    <div class="w-75">
      <p class="text-warning h4 d-inline-block">*Recordi que sempre podrà canviar aquests elements al seu perfil.</p>
      <button type="button" style="float: right;" class="btn btn-warning">Enviar</button>
    </div>
  </section>
</main>

