<main class="questionaris">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
    <section id="informationDivQuestionaris" class="section align-center section-lg row d-flex justify-content-center">
      <div class="bg-light shadow-sm rounded p-sm w-75 mt-5">
        <h3>Qüestionari d'interessos</h3>
        <p>Omple el següent formulari per tindre una experiència personalitzada dins de la nostra plataforma.</p>
      </div>
    </section>
  </section>
  <section class="row d-flex justify-content-center">
    <div class="card w-75 bg-light mb-5" *ngFor="let cat of categories">
      <div><img class="" src="{{cat.imgUrl}}">{{cat.name}}</div>
      <div>
        <div class="custom-control custom-checkbox mb-3" *ngFor="let subcat of cat.subcategories">
          <input class="custom-control-input" id="{{subcat.value}}" name="{{cat.Name}}Categories" value="{{subcat.value}}" type="checkbox">
          <label for="{{subcat.value}}" class="custom-control-label" for="{{subcat.value}}"><span>{{subcat.name}}</span></label>
        </div>
      </div>
    </div>
  </section>
  <section class="row d-flex justify-content-center">
    <div class="card w-75 bg-light mb-5">
      <h3>Estas interresat en activitats grupals?</h3>
      <div class="custom-control custom-checkbox mb-3">
        <input class="custom-control-input" id="groupsYes" name="groupActivities" value="true" type="checkbox">
        <label for="groupsYes" class="custom-control-label" for="groupsYes"><span>Si</span></label>
        <input class="custom-control-input" id="groupsNo" name="groupActivities" value="false" type="checkbox">
        <label for="groupsNo" class="custom-control-label" for="customCheck2"><span>No</span></label>
      </div>
    </div>
  </section>
  <section class="row d-flex justify-content-center">
    <div class="card w-75 bg-light mb-5">
      <h3>Estas interresat en activitats amb riscos?</h3>
      <input class="custom-control-input" id="{{subcat.value}}" name="{{subcat.value}}" value="{{subcat.value}}" type="checkbox">
      <label for="{{subcat.value}}" class="custom-control-label" for="customCheck2"><span _ngcontent-c7="">{{subcat.name}}</span></label>
      <input class="custom-control-input" id="{{subcat.value}}" name="{{subcat.value}}" value="{{subcat.value}}" type="checkbox">
      <label for="{{subcat.value}}" class="custom-control-label" for="customCheck2"><span _ngcontent-c7="">{{subcat.name}}</span></label>
    </div>
  </section>
</main>

