<main class="questionaris">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
    <section id="informationDivQuestionaris" class="section align-center section-lg row d-flex justify-content-center">
      <div class="bg-light shadow-sm rounded p-sm w-75 mt-5">
        <h3>Qüestionari d'interessos</h3>
        <p>Omple el següent formulari per tindre una experiència personalitzada dins de la nostra plataforma.</p>
      </div>
    </section>
  </section>
  <section *ngFor="let cat of categories">
    <div>{{cat.name}}</div>
    <div *ngFor="let subcat of cat.subcategories">
      <input type="checkbox" id="{{subcat.value}}" name="{{subcat.value}}" value="{{subcat.value}}">
      <label for="{{subcat.value}}"> {{subcat.name}}</label>
    </div>
  </section>
</main>

